<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:title" content="Art of Sangha">
        <meta property="og:type" content="Communication Platform">
        <meta property="og:description" content="Don't fight the sangha">
        <meta property="og:image" content="">
        <meta property="og:site_name" content="">

        <!-- cdns -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">-->
        <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- custom -->
        <link rel="stylesheet" href="/css/shared.css?v={{ct}}">
        <!--<link rel="stylesheet" href="/css/footer.css?v={{ct}}">-->

    {% endblock head %}
</head>
<body>
    {% block content %} {% endblock content %}

    {% block footer %}
    <!--<footer id="footer">-->
        <!--<div class="container-fluid remove-bootstrap-padding" id="footer-1-container">-->
            <!--<div class="container remove-bootstrap-padding" id="footer-1-subcontainer">-->
                <!--<div class="row">-->
                    <!--<div class="col-xs-12 text-right remove-bootstrap-padding">-->
                        <!--<h4 id="contact-info-title"><strong>CONTACT INFO</strong></h4>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="row">-->
                    <!--<div class="col-xs-12 text-right remove-bootstrap-padding">-->
                        <!--<span>events@us.artofliving.org <i class="fa fa-envelope"></i></span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="row">-->
                    <!--<div class="col-xs-3 remove-bootstrap-padding text-left" id="heart-column">-->
                        <!--<span><strong>Designed with <i class="fa fa-heart heart-icon"></i> in Los Angeles</strong></span>-->
                    <!--</div>-->
                    <!--<div class="col-xs-9 text-right remove-bootstrap-padding">-->
                        <!--<span>+ 1800 462 1847 <i class="fa fa-phone"></i></span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="container-fluid remove-bootstrap-padding" id="footer-2-container">-->
            <!--<div class="container remove-bootstrap-padding" id="footer-2-subcontainer">-->
                <!--<div class="row remove-bootstrap-padding" id="footer-2-content-row">-->
                    <!--<div class="col-xs-3 text-left remove-bootstrap-padding">-->
                        <!--<p id="copyright-text">&#169 2018 art of living</p>-->
                    <!--</div>-->
                    <!--<div class="col-xs-9 text-right footer-links-column remove-bootstrap-padding">-->
                        <!--<a href="">Help | </a>-->
                        <!--<a href="">FAQ's | </a>-->
                        <!--<a href="">Privacy Policy | </a>-->
                        <!--<a href="">Terms of use</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</footer>-->
    {% endblock footer %}

    {% block footer_scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
        <script src="https://media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js"></script>
        <script src="https://media.twiliocdn.com/sdk/js/chat/v2.1/twilio-chat.min.js"></script>
        <script src="//media.twiliocdn.com/sdk/js/video/v1/twilio-video.min.js"></script>
        <script src="/js/utils.js"></script>
    {% endblock footer_scripts %}
</body>
</html>