{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/css/join_event.css">
{% endblock head %}

{% block content %}

<div class="wrapper img-responsive" id="main-wrapper">
    <div id="image-container">
        <div id="background-gradient">
            <img src="/img/aol-color-gradient.png" class="img-responsive" id="top-level-gradient-image" alt="">
        </div>
        <div id="background-buddha">
            <img src="/img/dylan-buddha.png" class="img-responsive" id="second-level-buddha-image" alt="">
        </div>


    </div>
    <div id="signin-container">
        <div class="container-fluid">
            <div style="height: 63px;">
                <div class="row">
                    <div class="col-xs-12 signin-header-text text-center"><p>Join the event</p></div>
                </div>
                <div class="row">
                    <div class="col-xs-12 signin-header-text text-center"><p class="lead"><strong>{{event.title}}</strong></p></div>
                </div>
            </div>

            <div class="form-container" id="login-form">
                <div class="row" id="login-form-row">
                    <div class="col-xs-8 col-xs-offset-2 col-centered" id="login-form-row-col">
                        <div class="row" id="signin-row">
                            <div class="col-xs-12 col-sm-6 col-md-5 text-center" id="host-login-column">
                                <div id="host-login-container">
                                    <p class="lead">I'm a <strong>Host</strong></p>
                                    <div style="margin-top: 53px" id="image-subtitle">
                                        <img src="/img/aol-logo.png" alt="">
                                        <p style="margin: 0; margin-top: 31px;"><strong><em>Login using your art of living email</em></strong></p>
                                    </div>
                                    <div style="margin-top: 53px">
                                        <a href="{{organizer_login_url}}"><button id="host-login-btn" class="btn btn-danger login-btn">Login</button></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-7 text-center" id="participant-login-column">
                                <div id="participant-login-container">
                                    <p class="lead" style="margin: 0 auto;">I'm a <strong>Participant</strong></p>
                                    <form method="post" action="/{{participant_login_url}}/participant" style="margin-top: 30px;">
                                        <div class="form-group">
                                            <label class="sr-only" for="participant-email">Email address</label>
                                            <input type="email" class="form-control participant-form-input" id="participant-email" placeholder="Email" name="participant_email">
                                          </div>
                                          <div class="form-group">
                                            <label class="sr-only" for="participant-username">Username</label>
                                            <input type="text" class="form-control participant-form-input" id="participant-username" placeholder="Username" name="participant_username">
                                          </div>
                                          <div class="form-group">
                                            <label class="sr-only" for="participant-phone">Phone</label>
                                            <input type="text" class="form-control participant-form-input" id="participant-phone" placeholder="Phone" name="participant_phone">
                                          </div>
                                        <button type="submit" id="participant-login-btn" class="btn btn-danger login-btn" style="margin-top: 18px;">Login</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block footer %}

{% endblock footer %}

{% block footer_scripts %}
    {{ super() }}
<script src="/js/join_event.js"></script>
{% endblock footer_scripts %}