{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/css/join_event.css">
{% endblock head %}

{% block content %}
    {% include 'base_header.html' %}
    <div class="container-fluid" id="body-container">
        <div class="row" id="join-meeting-form-row">
            <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-xs-12">
                        <img src="/img/aol-logo.png" alt="">
                    </div>
                </div>

                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-xs-12">
                        <strong>Join the event {{event.title}}</strong>
                    </div>
                </div>

                {% if organizer_login_error %}
                    <div class="row" style="margin-bottom: 20px;">
                        <div class="col-xs-12">
                            <p class="lead" style="color: red">The email you entered is not an organizer email</p>
                        </div>
                    </div>
                {% endif %}

                {% if form_error %}
                    <p class="lead" style="color: red">There was an error when submitting your form</p>
                {% endif %}
                <div class="row">
                    <div class="col-xs-12">

                        <div class="row">
                            <div class="col-xs-12">
                                <a id="organizer-join-btn" href="{{organizer_login_url}}" class="btn btn-danger">Join as organizer</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn btn-success green-btn" id="join-btn" onclick="showParticipantModal();">Join as participant</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'participant_details_modal.html' %}
{% endblock content %}

{% block footer %}

{% endblock footer %}

{% block footer_scripts %}
    {{ super() }}
<script src="/js/join_event.js"></script>
{% endblock footer_scripts %}