{% extends 'base.html' %}

{% block head %}
    {{ super() }}
<link rel="stylesheet" href="/css/event.css">
{% endblock head %}

{% block content %}

    <div class="container-fluid" id="page-container">
        <div class="row" id="page-row">
            <div class="col-sm-8 col-lg-9 chat-open" id="video-column">
                <div id="top-controls">
                    <!--<div id="top-controls-record">-->
                        <!--<div id="record-icon-outer-circle">-->
                            <!--<i id="top-control-record-icon" class="fa fa-circle" aria-hidden="true"></i>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div id="top-controls-record-pause">-->
                        <!--<i id="top-control-record-pause-icon" class="fa fa-lg fa-pause-circle-o" aria-hidden="true"></i>-->
                    <!--</div>-->
                    <!--<div id="top-controls-record-stop">-->
                        <!--<i id="top-control-record-stop-icon" class="fa fa-lg fa-stop-circle-o" aria-hidden="true"></i>-->
                    <!--</div>-->
                    <div id="top-controls-camera">
                        <i class="fa fa-lg fa-camera" aria-hidden="true" id="top-control-camera-icon"></i>
                    </div>
                    <div id="top-controls-microphone">
                        <i class="fa fa-lg fa-microphone" aria-hidden="true" id="top-control-microphone-icon"></i>
                    </div>
                </div>
                <div id="start-stop-call-btn">
                    <i class="fa fa-2x fa-phone" aria-hidden="true" id="cancel-phone-icon"></i>
                </div>
                <div id="video-container">
                    <div id="user-icon-no-video">
                        <i class="fa fa-5x fa-user-circle" aria-hidden="true"></i>
                        <div id="host-name">
                            {{name}}
                        </div>
                    </div>
                    <!--<div id="star-icon" class="hide">-->
                        <!--<i class="fa fa-2x fa-star" aria-hidden="true"></i>-->
                    <!--</div>-->
                    <div id="video-controls-container" class="hide">
                        <div id="video-controls-webcam-icon" class="video-control">
                            <i class="fa fa-lg fa-camera" aria-hidden="true"></i>
                        </div>
                        <div id="video-controls-microphone-icon" class="video-control">
                            <i class="fa fa-lg fa-microphone" aria-hidden="true"></i>
                        </div>

                        <div id="host-name-bottom">{{name}}</div>
                        <!--<div id="video-controls-screenshare-icon" class="video-control">-->
                            <!--<i class="fa fa-lg fa-desktop" aria-hidden="true"></i>-->
                        <!--</div>-->
                    </div>
                </div>
                <div id="participant-videos">
                    <div class="row remove-bootstrap-margin">
                        <div class="col-xs-2">
                            <div class="row">
                                <div class="col-xs-12 participant-video no-video">
                                    <i class="fa fa-4x fa-user-circle" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="row participant-name">
                                <div>Dylan Dannenhauer</div>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="row">
                                <div class="col-xs-12 participant-video no-video">
                                    <i class="fa fa-4x fa-user-circle" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="row participant-name">
                                <div>Dylan Dannenhauer</div>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="row">
                                <div class="col-xs-12 participant-video no-video">
                                    <i class="fa fa-4x fa-user-circle" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="row participant-name">
                                <div>Dylan Dannenhauer</div>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="row">
                                <div class="col-xs-12 participant-video no-video">
                                    <i class="fa fa-4x fa-user-circle" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="row participant-name">
                                <div>Dylan Dannenhauer</div>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="row">
                                <div class="col-xs-12 participant-video no-video">
                                    <i class="fa fa-4x fa-user-circle" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="row participant-name">
                                <div>Dylan Dannenhauer</div>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="row">
                                <div class="col-xs-12 participant-video no-video">
                                    <i class="fa fa-4x fa-user-circle" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="row participant-name">
                                <div>Dylan Dannenhauer</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-3" id="chat-column">
                <div class="row" id="chat-top-nav">
                    <div class="col-xs-4 text-center nav-section" id="chat-onair-column">
                        <div class="nav-section-elements-container">
                            <i class="fa fa-2x fa-microphone" aria-hidden="true"></i>
                            <div>On Air</div>
                        </div>
                    </div>
                    <div class="col-xs-4 text-center nav-section" id="chat-participants-column">
                        <div class="nav-section-elements-container">
                            <i class="fa fa-2x fa-user" aria-hidden="true"></i>
                            <div data-bind="text: numParticipants"></div>
                        </div>
                    </div>
                    <div class="col-xs-4 text-center nav-section">
                        <div class="nav-section-elements-container">
                            <i class="fa fa-2x fa-clock-o" aria-hidden="true"></i>
                            <div>00:00:00</div>
                        </div>
                    </div>
                </div>
                <div class="row" id="chat-second-row">
                    <div class="col-xs-2" id="pink-sidebar">
                        <div id="chat-toggle-container-parent">
                            <div id="chat-toggle-container">
                                <i class="fa fa-2x fa-angle-right" aria-hidden="true"></i>
                            </div>
                        </div>
                        <i class="fa fa-2x fa-comments" aria-hidden="true" id="chat-nav-comments" data-bind="click: chatOnclick"></i>
                        <i class="fa fa-2x fa-user" aria-hidden="true" id="chat-nav-participants" data-bind="click: participantOnclick"></i>
                        <i class="fa fa-2x fa-cogs" aria-hidden="true" id="chat-nav-settings" data-bind="click: settingsOnclick"></i>
                        <i class="fa fa-2x fa-hand-paper-o" aria-hidden="true" id="chat-nav-requests" data-bind="click: requestsOnclick"></i>
                    </div>
                    <div class="col-xs-10" id="chat-messages-column">

                        <!-- ko if: showChatParticipants -->
                            <!-- ko foreach: chatParticipants -->
                                <div class="participant-row">
                                    <i class="fa fa-circle participant-active"></i>
                                    <span class="participant-name" data-bind="text: $root.getNameFromParticipantIdentity($data), attr: { chat_identity: $data.identity }"></span>
                                </div>
                            <!-- /ko -->
                        <!-- /ko -->

                        <!--<div class="participant-row">-->
                                    <!--<i class="fa fa-circle participant-active"></i>-->
                                    <!--<span class="participant-name">supppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppp</span>-->
                                    <!--<i class="fa fa-3x fa-ellipsis-v chat-message-toolbar" aria-hidden="true"></i>-->
                        <!--</div>-->
                        <!--<div class="participant-row">-->
                                    <!--<i class="fa fa-circle participant-active"></i>-->
                                    <!--<span>suppp</span>-->
                                <!--</div>-->
                        <!--<div class="participant-row">-->
                                    <!--<i class="fa fa-circle participant-active"></i>-->
                                    <!--<span>suppp</span>-->
                                <!--</div>-->
                        <!--<div class="participant-row">-->
                                    <!--<i class="fa fa-circle participant-active"></i>-->
                                    <!--<span>suppp</span>-->
                                <!--</div>-->
                        <!--<div class="participant-row">-->
                                    <!--<i class="fa fa-circle participant-active"></i>-->
                                    <!--<span>suppp</span>-->
                                <!--</div>-->
                        <!--<div class="participant-row">-->
                                    <!--<i class="fa fa-circle participant-active"></i>-->
                                    <!--<span>suppp</span>-->
                                <!--</div>-->
                        <!--<div class="participant-row">-->
                                    <!--<i class="fa fa-circle participant-active"></i>-->
                                    <!--<span>suppp</span>-->
                                <!--</div>-->
                        <!--<div class="participant-row">-->
                                    <!--<i class="fa fa-circle participant-active"></i>-->
                                    <!--<span>suppp</span>-->
                                <!--</div>-->
                        <!--<div class="participant-row">-->
                                    <!--<i class="fa fa-circle participant-active"></i>-->
                                    <!--<span>suppp</span>-->
                                <!--</div>-->


                        <!-- ko ifnot: showChatParticipants -->
                            <!-- ko foreach: messages -->
                                <div class="chat-message-row">
                                    <div class="message-content-row">
                                        <h4 class="message-author" data-bind="text: $root.getNameFromMessageAuthor($data.author)"> <span><i class="fa fa-circle active" aria-hidden="true"></i></span></h4>
                                        <p class="message-body" data-bind="text: $data.body"></p>
                                    </div>
                                    <i class="fa fa-3x fa-ellipsis-v chat-message-toolbar" aria-hidden="true"></i>
                                </div>
                            <!-- /ko -->
                        <!-- /ko -->

                        <!--<div class="chat-message-row">-->
                            <!--<div class="message-content-row">-->
                                <!--<h4 class="message-author">John <span><i class="fa fa-circle active" aria-hidden="true"></i></span></h4>-->
                                <!--<p class="message-body">ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss-->
                            <!--</div>-->
                            <!--<i class="fa fa-3x fa-ellipsis-v chat-message-toolbar" aria-hidden="true"></i></p>-->
                        <!--</div>-->

                        <!--<div class="chat-message-row">-->
                            <!--<div class="message-content-row">-->
                                <!--<h4 class="message-author">John <span><i class="fa fa-circle active" aria-hidden="true"></i></span></h4>-->
                                <!--<p class="message-body">ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss-->
                            <!--</div>-->
                            <!--<i class="fa fa-3x fa-ellipsis-v chat-message-toolbar" aria-hidden="true"></i></p>-->
                        <!--</div>-->

                        <!--<div class="chat-message-row">-->
                            <!--<div class="message-content-row">-->
                                <!--<h4 class="message-author">John <span><i class="fa fa-circle active" aria-hidden="true"></i></span></h4>-->
                                <!--<p class="message-body">ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss-->
                            <!--</div>-->
                            <!--<i class="fa fa-3x fa-ellipsis-v chat-message-toolbar" aria-hidden="true"></i></p>-->
                        <!--</div>-->

                        <!--<div class="chat-message-row">-->
                            <!--<div class="message-content-row">-->
                                <!--<h4 class="message-author">John <span><i class="fa fa-circle active" aria-hidden="true"></i></span></h4>-->
                                <!--<p class="message-body">ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss-->
                            <!--</div>-->
                            <!--<i class="fa fa-3x fa-ellipsis-v chat-message-toolbar" aria-hidden="true"></i></p>-->
                        <!--</div>-->

                        <!--<div class="chat-message-row">-->
                            <!--<div class="message-content-row">-->
                                <!--<h4 class="message-author">John <span><i class="fa fa-circle active" aria-hidden="true"></i></span></h4>-->
                                <!--<p class="message-body">ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss-->
                            <!--</div>-->
                            <!--<i class="fa fa-3x fa-ellipsis-v chat-message-toolbar" aria-hidden="true"></i></p>-->
                        <!--</div>-->

                        <!--<div class="chat-message-row">-->
                            <!--<div class="message-content-row">-->
                                <!--<h4 class="message-author">John <span><i class="fa fa-circle active" aria-hidden="true"></i></span></h4>-->
                                <!--<p class="message-body">ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss-->
                            <!--</div>-->
                            <!--<i class="fa fa-3x fa-ellipsis-v chat-message-toolbar" aria-hidden="true"></i></p>-->
                        <!--</div>-->

                        <!--<div class="chat-message-row">-->
                            <!--<div class="message-content-row">-->
                                <!--<h4 class="message-author">John <span><i class="fa fa-circle active" aria-hidden="true"></i></span></h4>-->
                                <!--<p class="message-body">ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss-->
                            <!--</div>-->
                            <!--<i class="fa fa-3x fa-ellipsis-v chat-message-toolbar" aria-hidden="true"></i></p>-->
                        <!--</div>-->

                        <!--<div class="chat-message-row">-->
                            <!--<div class="message-content-row">-->
                                <!--<h4 class="message-author">John <span><i class="fa fa-circle active" aria-hidden="true"></i></span></h4>-->
                                <!--<p class="message-body">ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss-->
                            <!--</div>-->
                            <!--<i class="fa fa-3x fa-ellipsis-v chat-message-toolbar" aria-hidden="true"></i></p>-->
                        <!--</div>-->

                        <!--<div class="chat-message-row">-->
                            <!--<div class="message-content-row">-->
                                <!--<h4 class="message-author">John <span><i class="fa fa-circle active" aria-hidden="true"></i></span></h4>-->
                                <!--<p class="message-body">ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss-->
                            <!--</div>-->
                            <!--<i class="fa fa-3x fa-ellipsis-v chat-message-toolbar" aria-hidden="true"></i>-->
                        <!--</div>-->
                    </div>

                    <div id="send-message-container">
                        <div id="send-message-parent">
                            <p id="to-who-text">To Everybody <i class="fa fa-lg fa-ellipsis-h send-message-toolbar" aria-hidden="true"></i></p>
                            <div id="message-input-container">
                                <input type="text" style="" id="send-message-input" placeholder="Type your message here">
                                <i id="send-btn" class="fa fa-2x fa-share-square-o" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block footer %}
    <div id="snackbar"></div>
{% endblock footer %}

{% block footer_scripts %}
    {{ super() }}
    <script>
        document.title = window.eventTitle = "{{event.title}}";
    </script>
    <script src="/js/event_shared.js?v={{current_time}}"></script>
    <script src="/js/organizer_chat_client.js?v={{current_time}}"></script>
    <script src="/js/organizer_video_client.js?v={{current_time}}"></script>
    <script src="/js/organizer_event.js?v={{current_time}}"></script>
{% endblock footer_scripts %}