<div class="modal fade" id="participant-details-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1>Enter participant details</h1><br>

            <form action="/{{participant_login_url}}/participant" method="post" required>
                <input type="text" name="participant_first_name" placeholder="First name" required>
                <input type="text" name="participant_last_name" placeholder="Last name" required>
                <input type="email" name="participant_email" placeholder="Email" required>
                <input type="phone" name="participant_phone" placeholder="Phone" required>
                <div>
                    <button class="btn btn-primary">Join event</button>
                </div>
            </form>
        </div>
    </div>
</div>