{% extends 'base.html' %}

{% block head %}
    {{ super() }}
{% endblock head %}

{% block content %}
    {% include 'base_header.html' %}
        <div class="container-fluid remove-bootstrap-padding" id="body-container">
            <div class="row" id="join-meeting-form-row">
                <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                    <div class="row">
                        <img src="/img/aol-logo.png" alt="">
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <strong>INVITE YOUR FRIENDS</strong>
                    </div>
                    <div id="social-network-container" style="margin-top: 20px;">
                        <span id="facebook-icon-container">
                            <i class="fa fa-3x fa-facebook-official" aria-hidden="true"></i>
                        </span>
                        <span id="twitter-icon-container">
                            <i class="fa fa-3x fa-twitter" aria-hidden="true"></i>
                        </span>
                        <span class="instagram-icon-container">
                            <i class="fa fa-3x fa-instagram" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <form>
                            <div class="col-xs-12 col-sm-6 text-right continue-btns">
                                <button type="submit" id="skip-btn" class="btn btn-secondary secondary-button">SKIP</button>
                            </div>
                        </form>
                        <div class="col-xs-12 col-sm-6 text-left continue-btns">
                            <button type="submit" id="continue-btn" class="btn btn-success green-btn" onclick="openShareModal()">SHARE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}

{% block footer %}
    {{ super() }}
{% endblock footer %}

{% block footer_scripts %}
    {{ super() }}
{% endblock footer_scripts %}