{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/css/test.css">
{% endblock head %}

{% block content %}


  <div class="container remove-bootstrap-padding" id="test-functions-container">
    <div class="row text-center">
      <div class="col-xs-12 remove-bootstrap-padding">
        <form action="/create_random_event">
          <button class="btn btn-default" id="create-random-event">Create Random Event</button>
          <button class="btn btn-primary" data-bind="click: $root.deleteAllEvents">Delete all</button>
        </form>
      </div>
    </div>
    <div class="row text-center" style="margin-top: 20px;">
      <div class="col-xs-12">
        <p class="lead">Showing all events. Click an event to view it's data</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-xs-6">
        <!-- ko foreach: events -->
          <div class="row">
            <button class="btn btn-default" data-bind="click: $root.showEvent">
              <span data-bind="text: $data.title"></span>
              <span data-bind="text: $index"></span>
            </button>
          </div>
        <!-- /ko -->
      </div>
      <div class="col-xs-6" data-bind="with: currentEvent()">
        <p class="lead">Current Event</p>
        <p>Event Title/Name: <span data-bind="text: title"></span></p>
        <p>Event ID: <span data-bind="text: event_id"></span></p>
        <p>Event Link <a data-bind="attr: {href: organizer_link}, text: organizer_link"></a></p>
      </div>
    </div>
  </div>

{% endblock content %}

{% block footer %}
  {{ super() }}
{% endblock footer %}

{% block footer_scripts %}
  {{ super() }}
  <script src="/js/test_view_model.js"></script>
{% endblock footer_scripts %}