
body, html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

footer {
  z-index: -1;
}

#body-container {
  background: #f1f1f1;
  height: 70%;
}

#join-email {
  width: 25%;
  margin: 0 auto;
}

#participant-details-modal input::placeholder {
  color: black;
   opacity: 1;
}

 #first_name {
   background: inherit;
   border-radius: 5px;
   border-color: white;
 }

#join-btn {
  width: 25%;
  margin: 0 auto;
}

#join-meeting-form-row {
  height: 100%;
  display: flex;
  align-items: center;
}

#header-container, #authenticated-header-container {
  min-height: 57px;
  height: 10%;
}

.header-container-row {
  display: flex;
  height: 100%;
  align-items: center;
}

#title-bar {
  height: 50px;
  margin-top: 40px;
}

#organizer-join-btn {
  background: crimson;
  width: 25%;
}

#organizer-join-btn:hover {
  background-color: brown;
}


#title-bar .row  {
  height: 100%;
  display: flex;
  align-items: center;
  background: #f1f1f1;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#social-network-container span {
  padding: 10px;
}

.continue-btns {
  padding-right: 7.5px;
  padding-left: 7.5px;
}

.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

#facebook-icon-container {
  color: #3B5998;
}

#twitter-icon-container {
  color: #1DA1F2;
}

#instagram-icon-container {

}

#skip-btn, #continue-btn {
  width: 25%;
}

.title-bar-text {
  padding-left: 15px;
  margin-bottom: 0;
}

.username {
  font-weight: bold;
}

.logout-link {
  color: black;
}

.remove-bootstrap-padding {
  padding-left: 0;
  padding-right: 0;
}

.green-btn {
  background: #4ccc04;
  color: white;
}

.secondary-button {
  color: white;
}

.secondary-button:hover {
  color: white;
}

.width-full {
  width: 100%;
}

#chat-column {
  height: 100%;
}

.grayout {
    opacity: 0.6; /* Real browsers */
    filter: alpha(opacity = 60); /* MSIE */
}

#chat-message {
  height: 60px;
}

#participant-chat-icons-row {
  height: 60px;
}

#participant-chat-icons-row .col-xs-6 {
  background: #ff9900;
  height: 100%;
  color: white;
  z-index: 1000;
}

#participant-icon-container {
  margin-right: 1px;
  width: 49.7%;
}

#user-icon, #chat-icon {
  margin-top: 5px;
}

#chat-icon-container {
  float: right;
  width: 49.7%;
}

#settings-content-row {
  margin-left: 0;
  height: 25px;
  width: 100%;
}

#my-settings-title {
  height: 100%;
  background: #6083FF;
  color: white;
}

#settings-container {
  height: 25%;
  background-color: white;
}

.videos-row-col {
  height: 100%;
}

.videos-row {
  height: 50%;
}

.video-element {
  width: 100%;
  height: 100%;
}

.video-element video {
  width: 100%;
  height: 100%;
}

#meeting-container {
  height: 75%;
}

#video-container {
  height: 60%;
}

#video-container-row {
  background: #d9d9d9;
  height: 100%;
  margin-top: 40px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#video-column {
  height: 100%;
  background: #f1f1f1;
  padding: 30px 20px;
}

#settings-content-row .col-xs-6 {
  height: 100%;
  display: flex;
  align-items: center;
}

.line-through {
  border:1px solid gray;
  width:28px;
  height:28px;
  position:relative;
}

.line-through:after{
  content:"";
  position:absolute;
  border-top:1px solid red;
  width:40px;
  transform: rotate(45deg);
  transform-origin: 0% 0%;
}

#launch-meeting-container {
  background-color: white;
  height: 75%;
  width: 100%;
  display: flex;
  align-items: center;
}

#settings-options-row {
  height: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 25px;
}

#my-settings-options {
  height: 100%;
  background: #2C69F4;
  display: flex;
  align-items: center;
}

#my-settings-options .fa {
  padding: 10px;
  background: white;
  width: 75%;
}

#launch-meeting-content-row {
  width: 100%;
  margin-left: 0;
}

#video-controls {
  position: absolute;
  bottom: 30%;
  width: 100%;
  text-align: center;
}

#chat_content {
  height: 100%;
  padding-bottom: 75px;
}

#chat_content_col {
  height: 100%;
  overflow: scroll;
  padding-bottom: 60px;
  overflow-x: hidden;
}

#compose-message-container {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  bottom: 0;
}

#emoji-icon {
  position: absolute;
  right: 12%;
}

/* start arrow box */
.arrow_box {
	position: relative;
	background: #88b7d5;
	border: 4px solid #c2e1f5;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #88b7d5;
	border-width: 30px;
	margin-left: -30px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #c2e1f5;
	border-width: 36px;
	margin-left: -36px;
}
/* end arrow box */
.video-control-option {
  margin: 15px;
  color: white;
  background: #333;
  padding: 10px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  //color: white;
  //background: #333;
  //-webkit-border-radius: 50px;
  //-moz-border-radius: 50px;
  //border-radius: 50px;
}

.settings-option-element {
  padding: 10px;
}

.settings-option-element:hover {
  cursor: pointer;
}

.settings-option-text {
  color: white;
}

#numParticipants {

}

/* snackbar */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/* end snackbar */

/* media queries*/
@media screen and (max-width: 800px) {
  .remove-bootstrap-padding {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 768px) {
  .continue-btns {
    text-align: center;
  }

  #skip-btn, #continue-btn {
    width: 75%;
  }
}

@media screen and (max-width: 769px) {
  #join-email, #join-btn, #organizer-join-btn  {
    width: 50%;
  }
}

@media screen and (max-width: 543px) {

}

.video-off {
  background: red;
}

.video-on {
  background: white;
}

/* end media queries */

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container button {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: rgb(250, 255, 189);
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help{
  font-size: 12px;
}


