html, body {
  width: 100%;
  height: 100%; }

#page-row {
  overflow: hidden; }

#page-container, #page-row {
  height: 100%; }

#video-column {
  background-color: #3F495B;
  height: 100%; }

#top-controls {
  background-color: #586780;
  margin: 0 auto;
  height: 44.5px;
  margin-top: -30px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  display: flex;
  align-items: center;
  width: max-content; }

#top-controls-camera:hover,
#top-controls-microphone:hover,
#top-controls-record:hover,
#top-controls-record-pause:hover,
#top-controls-record-stop:hover {
  cursor: pointer;
  background: #2E68FB; }

#top-controls-camera,
#top-controls-microphone,
#top-controls-record,
#top-controls-record-pause,
#top-controls-record-stop {
  width: 65px;
  text-align: center;
  border-right: 1px solid #3F495B;
  height: 100%;
  display: flex;
  align-items: center; }

#top-control-camera-icon,
#top-control-microphone-icon,
#top-control-record-icon,
#top-control-record-pause-icon,
#top-control-record-stop-icon {
  margin: 0 auto; }

#top-control-camera-icon,
#top-control-microphone-icon,
#top-control-record-pause-icon,
#top-control-record-stop-icon {
  color: white; }

#record-icon-outer-circle {
  margin: 0 auto;
  border: 1px solid white;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  border-radius: 50px;
  color: red; }

#start-stop-call-btn {
  position: absolute;
  top: 15px;
  right: 23px;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background-color: #40ff00; }

#start-stop-call-btn.session-active {
  background-color: #FF1C27; }

#start-stop-call-btn i {
  margin: 0 auto; }

#cancel-phone-icon {
  margin: 0 auto;
  color: white; }

#pink-sidebar .fa:hover {
  cursor: pointer; }

#video-container {
  background-color: black;
  margin-top: 56px;
  height: 477px;
  margin-right: 6%;
  margin-left: 6%;
  position: relative;
  display: flex;
  align-items: center; }

#video-container video {
  height: 100%;
  width: 100%; }

#participant-videos {
  margin-top: 6px;
  margin-right: 6%;
  margin-left: 6%; }

.participant-video {
  height: 106px;
  background: #00001a; }

.remove-bootstrap-margin {
  margin-left: 0;
  margin-right: 0; }

.no-video {
  display: flex;
  align-items: center; }

.fa-user-circle {
  margin: 0 auto; }

.col-xs-2 .row {
  border: 1px solid #3F495B; }

#star-icon {
  background-color: #FFAD00;
  position: absolute;
  left: 13px;
  top: 18px;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px; }

#star-icon .fa {
  margin: 0 auto;
  color: white; }

.video-control {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background: #535353; }

.video-control:hover {
  background: #2E68FB;
  cursor: pointer; }

.video-control .fa {
  color: white;
  margin: 0 auto; }

#video-controls-container {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 17px;
  left: 19px;
  z-index: 1; }

#video-controls-webcam-icon, #video-controls-microphone-icon {
  margin-right: 9px; }

#user-icon-no-video {
  margin: 0 auto;
  text-align: center; }

#host-name {
  margin-top: 16px;
  color: white; }

#chat-top-nav {
  height: 68px;
  background: #525E76;
  display: flex;
  align-items: center;
  color: white; }

#chat-top-nav .nav-section {
  display: flex;
  height: 100%;
  align-items: center; }

.nav-section-elements-container {
  margin: 0 auto; }

#chat-onair-column, #chat-participants-column {
  border-right: 1px solid lightslategray; }

#chat-second-row {
  height: 100%;
  margin-top: -68px;
  position: absolute; }

#pink-sidebar {
  width: 60px;
  height: calc(100% - 68px);
  background: #FC6664;
  margin-top: 68px; }

#chat-toggle-container {
  height: 51px;
  background: #FC6664;
  width: 30px;
  display: flex;
  align-items: center;
  color: white;
  position: absolute;
  left: -40px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }

#chat-toggle-container i {
  margin: 0 auto; }

#chat-toggle-container:hover {
  cursor: pointer; }

#chat-toggle-container-parent {
  position: absolute;
  height: 100%;
  margin-top: -68px;
  display: flex;
  align-items: center; }

#chat-nav-comments {
  margin-top: 28px; }

#chat-nav-participants {
  margin-top: 97px; }

#chat-nav-settings {
  margin-top: 167px; }

#chat-nav-requests {
  margin-top: 234px; }

#chat-nav-comments, #chat-nav-participants, #chat-nav-settings, #chat-nav-requests {
  position: absolute;
  color: white; }

.chat-message-row, .participant-row {
  display: flex;
  align-items: center;
  border-bottom: 2px solid aliceblue;
  width: 100%; }

.chat-message-row {
  min-height: 88px; }

.participant-row {
  min-height: 60px; }

.participant-active {
  color: limegreen; }

.participant-not-active {
  color: red; }

.participant-name {
  width: 100%;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  margin-left: 15px;
  color: #7F7F7F; }

#chat-messages-column {
  width: calc(100% - 68px);
  height: calc(100% - 98px);
  overflow-y: scroll; }

#chat-second-row {
  width: 100%; }

#chat-messages-column .chat-message-row:first-child,
#chat-messages-column .participant-row:first-child {
  margin-top: 68px; }

.message-content-row {
  width: 100%; }

.message-body {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  width: 100%;
  padding-right: 20px; }

.chat-message-toolbar {
  color: #D7D7D7; }

.fa-circle {
  margin-left: 10px;
  font-size: 15px; }

.fa-circle.active {
  color: #33cc33; }

#send-message-container {
  height: 98px;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  width: calc(100% - 60px);
  position: absolute;
  bottom: 0;
  margin-left: 60px; }

#send-message-input {
  height: 100%;
  border: none;
  width: 100%; }

#send-message-input:focus {
  outline: none; }

#send-message-input::placeholder {
  padding-left: 6px; }

#send-message-parent {
  margin-left: 16px;
  width: 100%; }

#send-btn {
  position: absolute;
  right: 23px;
  color: cornflowerblue; }

#send-btn:hover {
  cursor: pointer; }

#message-input-container {
  height: 44px;
  display: flex;
  align-items: center;
  width: calc(100% - 16px); }

#host-name-bottom {
  margin-left: 19px;
  color: white; }

#to-who-text {
  margin: 0;
  margin-bottom: 6px; }

::-webkit-scrollbar {
  color: black; }
