@media screen and (max-width: 708px) {
  #heart-column {
    bottom: 20px; } }

#footer {
  position: absolute;
  bottom: 0;
  width: 100%; }

.footer-links-column a {
  color: white; }

#footer-2-container {
  background-color: #585757;
  height: 50px; }

#footer-2-subcontainer {
  height: 100%; }

#footer-2-content-row {
  display: flex;
  height: 100%;
  align-items: center; }

#copyright-text {
  color: white;
  margin-bottom: 0; }

.heart-icon {
  color: red; }
