#main-wrapper,
#image-container,
#background-gradient,
#top-level-gradient-image,
#background-buddha,
#second-level-buddha-image,
#signin-container,
body, html {
  width: 100%;
  height: 100%; }

#image-container {
  position: absolute; }

#background-buddha {
  position: absolute;
  top: 0; }

#signin-container {
  position: absolute;
  margin: 0 auto;
  display: flex;
  align-items: center; }

#signin-container .container-fluid {
  width: 100%; }

.signin-header-text {
  color: white; }

.signin-header-text p:first-child {
  margin: 0; }

.form-container {
  height: 490px; }

#login-form-row, #login-form-row-col, #login-form-row-col .row {
  height: 100%; }

#host-login-column {
  height: 100%;
  background: #f2f2f2;
  display: flex;
  align-items: center; }

#host-login-column p:first-child {
  margin: 0; }

#participant-login-column {
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center; }

#signin-row {
  opacity: 0.9; }

.login-btn {
  background: #FC6664; }

.login-btn:hover {
  background: darkred; }

.participant-form-input {
  width: 60%;
  margin: 0 auto;
  height: 40px; }

#participant-login-container {
  margin: 0 auto;
  width: 100%;
  height: 290px; }

#host-login-container {
  width: 100%;
  margin: 0 auto;
  height: 290px; }
