#launch-meeting-content-row p {
  margin-bottom: 25px; }

#launch-meeting-content-row .fa {
  margin-right: 10px; }

#rocket {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#participant-settings-title {
  background: #62B4EC;
  color: white; }

#participant-settings-options {
  height: 100%;
  background: #1E95E5;
  display: flex;
  align-items: center; }

.settings-option-element {
  padding: 10px;
  background: white;
  width: 75%; }
